/******************************************************************

Stylesheet: Nediun Stylesheet

Styles apply to 40.063em and up.

******************************************************************/
#main {
	padding-right: 55px;
}



/*********************
NAVIGATION STYLES
*********************/
#clouds {
	background-position: bottom left, center center;
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	color: $primary-color;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 65px;
	min-height: 120px;
	max-height: 332px;
	padding-bottom: 9%;
}
#clouds-logo {
	background-image: url('../images/irods-logo-main.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
	padding-bottom: 11.7%;
	width: 70%;
	margin: auto;
	margin-bottom: 43px;
}
.motto {
	font-size: 14pt;
}
@media (min-width: 1200px) {
	#clouds-logo {
		padding-bottom: 145px;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

.medium-9 {
	padding-right: 2%;

}
/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	margin-top: 0px;
}

	.widget {
		padding: 25px;
		margin: 0 0 1.4em 0;

	}

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer {
	padding-top: 70px;

}


.footer-widget {
	width:23%;
	padding: 20px;
	float:left;
}
  .footer-logo-widget {
	border-left: 1px solid #3D3D3B;
	height: 250px;
	width:29%;
	margin-left: 2%;
	padding-top: 27px;
	padding-left: 50px;
  }


.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
